{% extends 'core/base.html' %}

{% block title %}Browser{% endblock %}

{% block content %}


<div class="container mt-5">
    <form method="get" action="{% url 'worker:browser' %}" class="input-group mb-3">
            <input type="text" name="query" class="form-control" placeholder="Find a professional by name or by description keyword" aria-describedby="button-addon2" value="{{ query }}">
            <!-- botão SÓ FUNCIONA se colocar o type submit -->
            <button class="btn btn btn-info" type="submit" id="button-addon2">Search</button>
    </form>            
</div>

<section>
    <div class="container text-center mb-5">
            <small>Or choose by profession:</small>
            <ul class=" row list-group list-group-horizontal-sm text-center mt-2 ">
                {% for professions in professions %}
                <li class=" col list-group-item list-group-item-info  {% if professions.id == profession_id %}list-group-item-light {% endif %}"> 
                    <a href="{% url 'worker:browser' %}?query={{ query }}&professions={{ professions.id }}"  class="text-decoration-none text-dark">{{ professions.name }}</a>
                </li>
                {% endfor %}
            </ul>
            <br>
            <a class="btn btn-outline-info btn-sm" href="{% url 'worker:browser' %}" role="button">clear search</a>
    </div>
</section>


<div class="album py-5 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <!-- cria um loop para gerar um card para cada membro registrado -->
            <!-- REFERENCIA NO LOOP 'PARA CADA MEMBER NA VIEW BROWSER' -->
            {% for member in browser %}
            <div class="col">
                <div class="card shadow-sm">
                    <img class="card-img-top" src="{{ member.image.url }}" alt="Card image" style="height:255px;">
                    <div class="card-body text-center">
                    <!-- colocar nome -->
                        <h4 class="card-title">{{ member.name }}</h4>
                        <!-- colocar profissão -->                       
                        <a href="#" class="text-decoration-none">{{ member.profession }}</a>
                        <!-- colocar onde trabalha -->
                        <p class="card-text">Company: {{ member.company }}</p>                                
                        <div class="d-flex justify-content-center ">
                            <!-- colocar onde vê perfil detalhado usa-se o NOME DO APP na url  e a ID é gerada pelo django com o Model-->
                            <a class="btn btn-primary btn-outline-light" style="background-color: #23a3c0;" href="{% url 'worker:profile' member.id %}" role="button">See Profile</a>
                            <!-- colocar quando entrou -->                       
                        </div>
                    </div>
                </div>
            </div>
            <!-- finaliza o loop -->
            {% endfor %}
        </div>
    
    </div>
</div>
{% endblock %}